@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0 auto; font-size: 16px; line-height: 1.8em; font-family: 'Raleway', sans-serif; max-width: 1140px;
}
ul {list-style-type: none; padding: 0; margin: 0}
.from, .to {display: block; font-family: 'Arial'; font-weight: 700}
.container {width :100%; display: flex; justify-content: space-between; align-items: stretch}
.info-box {width: 70%; padding: 20px; color: #252932; position: relative}
.cv-section__title {width: 100%; display: block; position: relative; font-size: 2.2rem; line-height: 1.5em; font-weight: 700; font-style: normal; white-space: initial; border-top: 2px solid #d5d6d6; border-bottom: 2px solid #d5d6d6;}
.cv-section__container {display: flex; justify-content: flex-start; align-items: flex-start; margin-top: 30px; margin-bottom: 30px}
.cv-section__left-side {width: 120px;}
.cv-section__right-side {width: calc(100% - 120px);}
.cv-section__company {display: block; position: relative; font-size: 1.6rem; margin-bottom: .5em; font-weight: 700}
.cv-section__project-label, .cv-section__project-link, .cv-section__project-short-desc {display: block; margin-bottom: .7em}
.projects .title, .projects .link, .projects .desc {font-weight: 700; margin-right: 10px;}
.cv-section__last-section {position: absolute; bottom: 0; left: 20px; right: 20px; font-size: 12px; line-height: 1.2em;}

.sidebar {width: 30%; height: 100%; background: #373d48; padding: 20px 0; color: white}
.sidebar-padding {padding-left: 20px; padding-right: 20px}
.sidebar__fullname-label {display: block; font-size: 2.5rem; line-height: 1em; font-weight: 700; margin-bottom: .4em}
.sidebar__position-label {display: block; font-size: 1.7rem; line-height: .8em; font-size: 600; margin-bottom: .4em}
.sidebar__photo {width: calc(100% - 40px); height: auto}
.sidebar-section__title {font-size: 1.6rem; margin-bottom: 1em; font-weight: 700; padding-top: 10px; padding-bottom: 10px; background:#252932; display: block}
.sidebar-section {margin-top: 20px; margin-bottom: 20px;}
.personal-data-label {font-size: 18px; font-weight: 700; display: block}
.sidebar-section ul li:not(:last-child) {margin-bottom: 10px}
.skill-bar {background: #252932; display: block; height: 10px;}
.skill-level {width: 100%; height: 100%; background: white}
#html-css-scss .skill-level {width: 75%}
#jquery .skill-level {width: 70%}
#javascript .skill-level {width: 50%}
#php .skill-level {width: 40%}
#wordpress .skill-level {width: 35%}
#symfony-slim .skill-level {width: 30%}
#google-maps-api .skill-level {width: 30%}
#git .skill-level {width: 25%}
#lang-english .skill-level {width: 60%}